html{
    background-image: url(/image/fondo_2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
div.titulo{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 70px;
}
h1{
    font-size: 40px;
    background: linear-gradient(#ffffff,#2cdd00);
    -webkit-background-clip: text;
    color: transparent;
 
}
.contenedor{
    width: 100%;
    height: 100px;
}
.contenedor{
    width: 100%;
    height: 100px;
}
.contenedor_form{
    float: left;
    width: 380px;
    margin-right: 125px;
}
.contenedor_data{
    float: left;
    width: 1225px;
    height: 650px;
    padding: 5px;
    text-align:left;
    margin-left: 50px;
    transition-duration: 1s;
    font-size: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.contenedor_data::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}
.contenedor_data::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.formulario_true{
    width: inherit;
    box-shadow: 0px 11px 30px rgba(24, 149, 24, 0.75);
    background: #0bb40534;
    border-color: #ffffff52;
    border-width: 7px;
    border-style: solid;
    border-radius:18px;
    padding: 5px;
    text-align: center;
    margin-left: 50px;
    transition-duration: 1s;
    font-size: 20px;
    margin-bottom: 20px;
}
.formulario_true:hover{
    background: #0bb40585;
    border-color: #ffffffb9;
}
.formulario_false{
    width: inherit;
    box-shadow: 0px 11px 30px rgba(149, 24, 24, 0.589);
    background: #b40505ca;
    border-color: #ffffff52;
    border-width: 7px;
    border-style: solid;
    border-radius:18px;
    padding: 5px;
    text-align: center;
    margin-left: 50px;
    transition-duration: 1s;
    font-size: 20px;
    margin-bottom: 20px;
}
.formulario_false:hover{
    background: #e70808cc;
    border-color: #ffffffb9;
}
.button {
    margin-top: 30px;
    background: #02fd7f;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 1.5rem;
    padding: auto;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    position: relative;
  
}
.button::after {
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.button:hover {
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
 
    color: #ffffff;
}
.button::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}
h2{
    font-size: 20px;
}
h2.titulo{
    font-size: 25px;
    color: #ffffff;
}
.contenedortext{
    width:300px;
    height: 25px;
    font-size: 20px;
    border:2px solid #00BCD4;
    border-radius:4px;
    text-align: center;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}
.contenedortext:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
.caja_de_busqueda{
    width:300px;
    height: 25px;
    font-size: 20px;
    border:2px solid #00BCD4;
    border-radius:4px;
    text-align: center;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}
.caja_de_busqueda:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
.contenedorArea{
    width:300px;
    height: 100px;
    font-size: 20px;
    border:2px solid #00BCD4;
    border-radius:4px;
    text-align: justify;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    resize: none;
}
.contenedorArea:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
img.simbolo{
    height: 25px;
    width: 25px;
    margin-right: 10x;
}
a{
    text-decoration: none;
}
/* TABLA */
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
  text-align: center;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #009688;
	border-bottom: solid 5px #016b60;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #035f56;
	color: white;
}
td.activado{
    background-color: #2cdd009b;
}
td.desactivado{
    background-color: #dd0000c7;
}
.info_semaforo{
    width: inherit;
    box-shadow: 0px 11px 30px rgba(214, 214, 214, 0.75);
    background: #ffffff9f;
    border-color: #ffffff52;
    border-width: 7px;
    border-style: solid;
    border-radius:18px;
    padding: 5px;
    margin-left: 50px;
    transition-duration: 1s;
}
.info_semaforo:hover{
    background: #fffffff1;
    border-color: #ffffffb9;
}

.reloj{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
}

tr.revisado{
    background: rgba(0, 167, 0, 0.739);
}
tr.sin_revisar{
    background: rgba(255, 0, 0, 0.685);
}
tr.enproceso{
    background: rgba(214, 214, 0, 0.692);
}
.Sin_menu{
    width: 800px;
    height: 400px;
    background: rgba(255, 0, 0, 0.575);
    margin: auto;
    margin-top: 150px;
    border-radius: 50PX;
    padding-top: 80px;
    text-align: center;
    border-color: #ffffff52;
    border-width: 7px;
    border-style: solid;
    border-radius:18px;
    box-shadow: 0px 11px 30px rgba(223, 12, 12, 0.801);
    transition: 1s;
}
.Sin_menu:hover{
    background: #e70808b0;
    border-color: #ffffffb9;
}
.titulo_error{
    color: white;
    font-size: 25px;
    width: 800px;
    text-align: center;
}
.adv{
    width: 130px;
    height: 125px;
    margin-top: 50px;
}